/* brand animation */
@keyframes brandS {
    0% {color: aqua;}
    30% {color: lightcoral;}
    60% {color: darkgray;}
    100% {color: aqua;}
}
@keyframes brandMain {
    0% {color: lightcoral; transform: perspective(500px) rotate(0) scale(1.0);}
    20% {color: lightseagreen; transform: rotateX(10deg) rotateY(15deg) scale(1.1) translate(5px); text-shadow: 25px 20px 5px gray;}
    40% {color: rgb(85, 210, 169); transform: rotateX(0deg) rotateY(15deg) scale(1.19) translate(5px); text-shadow: 25px 20px 5px gray;}
    70% {color: rosybrown; transform: rotateX(-10deg) rotateY(0) scale(1.05) translate(5px); text-shadow: 25px 20px 5px gray;}
    100% {color: lightcoral; transform: perspective(500px) rotate(0) scale(1.0);}
}
@keyframes brandE{
    0% {color: rgb(69, 197, 239);}
    30% {color: rgb(242, 194, 135);}
    60% {color: rgb(160, 212, 82);}
    70% {color: lightcoral;}
    100% {color: rgb(69, 197, 239);}
}